*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    font-family: 'Space Grotesk';
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 1440px) {
    .app {
        display: flex;
        flex-direction: row;
    }
}